*~
*.class

/Netbeans/Drawing/nbproject/private/
/workspace/Session08/nbproject/private/
/workspace/JavaSwingDemos/nbproject/private/
/workspace/processingWin/nbproject/private/
/workspace/Session08/build/
/Netbeans/Session10/nbproject/private/
/Netbeans/Session10/build/
/Netbeans/Session11/nbproject/private/
/Netbeans/Session11/build/